main{
    width: 100%;
    height: 1331px;
    .guanyu{
        width: 1200px;
        height: 800px;
        margin: 0 auto;
        .tittle{
            width: 176px;
            height: 97px;
            text-align: center;
            line-height: 97px;
            color: #00beaf;
            font-size: 28px;
        }
        .jieshao1{
            font-size: 20px;
        }
        .jieshao2{
            font-size: 20px;
            margin-top: 40px;
        }
        .shiming{
            margin-top: 40px;
            font-size: 20px;
            padding: 3px 0;

        }
        .shiming1{
            font-size: 20px;
            color: #00beaf;
            padding: 3px 0;

        }
        .shiming2{
            font-size: 20px;
            padding: 3px 0;

        }
        .shiming3{
            font-size: 20px;
            color: #00beaf;
            padding: 3px 0;
        }
        .shiming4{
            font-size: 20px;
            padding: 3px 0; 
        }
        .yuanjing{
            margin-top: 40px;
            font-size: 20px;
            padding: 3px 0;
        }
        .yuanjing1{
            font-size: 20px;
            color: #00beaf;
            padding: 3px 0;
        }
        .jzguan{
            margin-top: 40px;
            font-size: 20px;
        }
            .jzguan1{
            font-size: 20px;
            color: #00beaf;
            padding: 3px 0;
            }
    }
}