<header id="header">
    <div class="headbox">
        <div class="logo">
            <img src="./imgess/logo.jpg" alt="">
            <span>诚洁网</span>
        </div>
        <div class="mobil">
            <span></span>
            <i>400-000-9898</i>
        </div>
        <div class="nav">
            <ul>
                <li class="active">首页</li>
                <li>家庭服务</li>
                <li>关于我们</li>
                <li>
                    <span class="login">
                       <a href="http://localhost:8001/login.html">登录</a> 
                    </span>
                    /
                    <span class="logon">
                      <a href="http://localhost:8001/logon.html"> 注册</a> 
                    </span>
                </li>
            </ul>
        </div>
        
    </div>
</header>
