<div id="spe">
    <div class="spebox">
        <div class="joblogo">
            <h3>轻触屏幕 家务事无忧</h3>
            <span>全方位的家庭服务，一键下单，尽享清闲生活</span>
        </div>
    <div class="yuantu">
        <div class="zhuanye">
            <img src="../imgess/zhuanye.png" alt="">
            <h4>专业</h4>
            <p>服务人员严格筛选、择优录取；</p>
            <i>系统培训、专业工具、标准化流程</i>
        </div>
        <div class="bianjie">
            <img src="../imgess/bianjie.png" alt="">
            <h4>便捷</h4>
            <p>随时随地一键下单；个性化需求智能匹配；</p>
            <i>无需现金、轻松支付</i>
        </div>
        <div class="anquan">
             <img src="../imgess/anquan.png" alt="">
            <h4>安全</h4>
            <p>职务人员100%实名认证</p>
            <i>上门服务家政保驾护航</i>
        </div>

    </div>


</div>

</div>