<div id="banner">
</div>
<div id="job-nav">
    <div class="joblogo">
        <h3>轻触屏幕 家务事无忧</h3>
        <span>全方位的家庭服务，一键下单，尽享清闲生活</span>
    </div>
    <div class="cleanbox">
        <div class="blueball">
            <div>保洁服务</div>
        </div>
        <div class="clean-list">
            <div class="yuan1"></div>
            <div class="shuxian1">
                <div class="hengxian1">
                    <p>日 常 保 洁</p>    
                    <span></span>      
                </div>
                <div class="hengxian2">
                    <p>深 度 保 洁</p>    
                    <span></span> 
                </div>
                <div class="hengxian3">
                    <p>长 期 保 洁</p>    
                    <span></span> 
                </div>
                <div class="hengxian4">
                    <p>擦 玻 璃</p>    
                    <span></span> 
                </div>
                <div class="hengxian5">
                    <p>新 居 开 荒</p>    
                    <span></span> 
                </div>
                <div class="hengxian6">
                    <p>厨 房 保 养</p>    
                    <span></span> 
                </div>
            </div>
            <div class="yuan2"></div>
            <div class="yuan3"></div>
            <div class="shuxian2">
                <div class="leftxian1">
                    <p>卫生间保养</p>    
                    <span></span> 
                </div>
                <div class="leftxian2">
                    <p>地板打蜡</p>    
                    <span></span> 
                </div>
                <div class="leftxian3">
                    <p>厨皮沙发保养</p>    
                    <span></span> 
                </div>
            </div>
            <div class="yuan4"></div>



        </div>
    </div>
</div>
