<main>
    <div class="indent">
        <div class="tittle">
            订单确认
        </div>
        <div class="types">
            <div class="indbox">
            <span>服务类型：</span>
            <p>日常保洁</p>
            </div>
        </div>
        <div class="adress">
                <div class="indbox">
                <span>服务地址：</span>
                <p></p>
                </div>
        </div>
        <div class="num">
                <div class="indbox">
                <span>服务地址：</span>
                <p></p>
                </div>
        </div>
        <div class="num">
                <div class="indbox">
                <span>服务时间：</span>
                <p></p>
                </div>
        </div>
        <div class="num">
                <div class="indbox">
                <span>联系人：</span>
                <p></p>
                </div>
        </div>
        <div class="num">
                <div class="indbox">
                <span>联系电话：</span>
                <p></p>
                </div>
        </div>
        <div class="num">
                <div class="indbox">
                <span>服务明细：</span>
                <p></p>
                </div>
        </div>
        <div class="xiadanbox">
            <div class="jine">
                <b>支付金额:</b>
              <span>￥</span> 
              <i>160</i>
            </div>
            <div class="btn">
                确认下单
            </div>
        </div>


    </div>








</main>