<main>
    <div class="login">
        <div class="login1">
            <div class="tittle">
                欢迎登陆
            </div>
            <div class="usname">
                <span></span>
                <input type="text" placeholder="请输入邮箱账号">
            </div>
            <div class="pwd">
                <span></span>
                <input type="text" placeholder="请输入邮箱账号">
            </div>
            <button class="btn">
                登录
            </button>
            <div class="xiabox">
                <div class="jizhu">
                    <span></span>
                    记住密码
                </div>

                <div class="zhuce">
                <a href="http://localhost:8001/logon.html">
                    立即注册
                </a>
                <span>/</span>
                <a href="">修改密码</a>
            </div>

            </div>


        </div>

    </div>



</main>