<main>
    <div class="reword">
        <div class="reword1">
            <div class="tittle">
                找回密码
            </div>
            <div class="e-mail">
                <span></span>
                <input type="text" placeholder="请输入邮箱账号">
            </div>
            <div class="yanzheng">
                 <input type="text" placeholder="请输入邮箱账号">
                 <span>发送验证码</span>
            </div>
            <div class="pwd">
                    <span></span>
                    <input type="text" placeholder="请输入新密码（6 - 16位组合密码，不能为纯数字）">
            </div>
            <div class="pwd">
                    <span></span>
                    <input type="text" placeholder="请确认新密码（6 - 16位组合密码，不能为纯数字）">
            </div>
            <div class="queren">
                确认
            </div>





        </div>



    </div>




    
</main>







