<main>
    <div class="banner">
                <img src="./imges/ef98.jpg" alt="">
    </div>
    <div class="shoplist">
        <div class="baojiefuwu">
            保洁服务
        </div>
        <div class="listbox">
            <div class="dypai">
                <div class="baojie">
                    <span></span>
                    <div class="xiaoright">
                        <h4>日常保洁</h4>
                        <p>专业工具，擦洗托扫</p>
                    </div>
                </div>
                <div class="baojie">
                    <span class="wuzi"></span>
                    <div class="xiaoright">
                        <h4>新居开荒</h4>
                        <p>专新居入住开荒，清扫装修痕迹</p>
                    </div>
                </div>
                <div class="baojie">
                    <span class="changqi"></span>
                    <div class="xiaoright">
                        <h4>家庭长期保洁</h4>
                        <p>摆脱繁琐家务，重新生活自由</p>
                    </div>
                </div>



            </div>
            <div class="depai">
                <div class="baojie">
                    <span></span>
                    <div class="xiaoright">
                        <h4>擦玻璃</h4>
                        <p>专业喷剂，洁净玻璃</p>
                    </div>
                </div>
                <div class="baojie">
                    <span class="wuzi"></span>
                    <div class="xiaoright">
                        <h4>厨房保养</h4>
                        <p>厨房保养，感受敞亮空间</p>
                    </div>
                </div>
                <div class="baojie">
                    <span class="changqi"></span>
                    <div class="xiaoright">
                        <h4>地板打蜡</h4>
                        <p>天然蜂蜡，温和护养</p>
                    </div>
                </div>



            </div>
            <div class="dspai">
                    <div class="baojie">
                        <span></span>
                        <div class="xiaoright">
                            <h4>深度保洁</h4>
                            <p>诚洁明星服务，洁净超乎想象</p>
                        </div>
                    </div>
                    <div class="baojie">
                        <span class="wuzi"></span>
                        <div class="xiaoright">
                            <h4>卫生间保养</h4>
                            <p>卫生间保养，换发闪亮光洁</p>
                        </div>
                    </div>
                    <div class="baojie">
                        <span class="changqi"></span>
                        <div class="xiaoright">
                            <h4>皮质沙发保养</h4>
                            <p>无风清洁，滋润养护</p>
                        </div>
                    </div>
    
    
    
                </div>
        </div>





    </div>


</main>