html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

h1,
h2,
h3,
h4,
h5,
h6,
em,
i {
  font-weight: 100;
  font-style: normal; }

ul,
ol,
li {
  list-style-type: none; }

a {
  color: #666;
  text-decoration: none;
  outline: 0; }

a:hover {
  text-decoration: none; }

#header {
  width: 100%;
  height: 81px;
  border-bottom: 1px solid #00beaf;
  user-select: none; }
  #header .headbox {
    width: 1200px;
    height: 81px;
    margin: 0 auto; }
    #header .headbox .logo {
      height: 81px;
      float: left;
      width: 190px; }
      #header .headbox .logo img {
        width: 68px;
        height: 79px;
        display: block;
        float: left; }
      #header .headbox .logo span {
        width: 104px;
        font-size: 32px;
        height: 79px;
        display: block;
        line-height: 79px;
        float: left;
        margin-left: 5px; }
    #header .headbox .nav, #header .headbox .mobil {
      float: right; }
    #header .headbox .nav {
      width: 420px;
      height: 81px; }
      #header .headbox .nav ul {
        height: 81px; }
        #header .headbox .nav ul li {
          height: 81px;
          float: left;
          font-size: 16px;
          padding: 0 20px;
          line-height: 81px;
          cursor: pointer; }
          #header .headbox .nav ul li a {
            color: #000000; }
    #header .headbox .active {
      color: #00beaf; }
    #header .headbox .mobil {
      margin-left: 80px; }
      #header .headbox .mobil span {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url(../imgess/dianhua.jpg);
        background-size: 20px 20px; }
      #header .headbox .mobil i {
        height: 81px;
        line-height: 81px; }

main {
  width: 100%;
  height: 1331px; }
  main .guanyu {
    width: 1200px;
    height: 800px;
    margin: 0 auto; }
    main .guanyu .tittle {
      width: 176px;
      height: 97px;
      text-align: center;
      line-height: 97px;
      color: #00beaf;
      font-size: 28px; }
    main .guanyu .jieshao1 {
      font-size: 20px; }
    main .guanyu .jieshao2 {
      font-size: 20px;
      margin-top: 40px; }
    main .guanyu .shiming {
      margin-top: 40px;
      font-size: 20px;
      padding: 3px 0; }
    main .guanyu .shiming1 {
      font-size: 20px;
      color: #00beaf;
      padding: 3px 0; }
    main .guanyu .shiming2 {
      font-size: 20px;
      padding: 3px 0; }
    main .guanyu .shiming3 {
      font-size: 20px;
      color: #00beaf;
      padding: 3px 0; }
    main .guanyu .shiming4 {
      font-size: 20px;
      padding: 3px 0; }
    main .guanyu .yuanjing {
      margin-top: 40px;
      font-size: 20px;
      padding: 3px 0; }
    main .guanyu .yuanjing1 {
      font-size: 20px;
      color: #00beaf;
      padding: 3px 0; }
    main .guanyu .jzguan {
      margin-top: 40px;
      font-size: 20px; }
    main .guanyu .jzguan1 {
      font-size: 20px;
      color: #00beaf;
      padding: 3px 0; }

.foots {
  width: 1200px;
  height: 62px;
  margin: 0 auto;
  user-select: none; }
  .foots .leftcopy {
    width: 480px;
    height: 62px;
    line-height: 62px;
    float: left; }
    .foots .leftcopy span {
      display: inline-block;
      width: 18px;
      height: 20px;
      background-image: url(../imgess/ghs.png); }
  .foots .rightnav {
    width: 260px;
    height: 62px;
    float: right; }
    .foots .rightnav div {
      float: left;
      padding: 0 10px; }
      .foots .rightnav div a {
        display: block;
        font-size: 16px;
        height: 62px;
        line-height: 62px; }
